#wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}

.card-class{
    transition-property: all;
    transition-duration: 200ms;
}

.card-class:hover{
    filter: drop-shadow(0 0.2rem 0.25rem rgba(83, 78, 78, 0.2));
}

.card-class-img:hover{
    background-color: rgb(11, 53, 95);
}

.card-class2{
    transition-property: all;
    transition-duration: 200ms;
}

.card-class2:hover{
    filter: drop-shadow(1rem 1rem 1rem rgba(3, 2, 2, 0.2));
}
.moveImage{
    animation: imageScroll 20s infinite linear;
}

@keyframes imageScroll {
    0%{
        top: 0%;
    }
    100%{
        top: -150%;
    }
}

.ctaSection{
    background-size: 100% 100%;
}

@media screen and (max-width:1024px){
    .ctaSection{
        background-size: 150%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* media query on nav bar*/
@media screen and (max-width:1120px){
    .nav-bar{
        width: 100%;
        padding: 0 32px;
    }

    .nav-bar ul li{
        visibility: hidden;
        display: none;
    }

    .nav-bar a{
        padding: 24px 0;
    }

    .nav-2-div img{
        visibility: hidden;
        display: none;

    }

    #sign-up-nav{
        visibility: hidden;
        display: none;
    }

    .toggle{
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .toggle:hover{
        cursor: pointer;
    }
}

/* hero section media query  */
@media screen and (max-width:1150px){
    .hero-section{
        width: 100%;
        /* max-width:90%; */
        padding: 0 32px;
        margin:0;
        flex-direction: column;
    }

    .hero-section-text{
        width: 100%;
    }

    .demo-box{
        flex-direction: column;
    }
}

@media screen and (max-width:920px){
    .payment-suite{
        visibility: hidden;
    }
}

@media screen and (max-width:768px){
    .dotted-img{
        visibility: hidden;
    }

    .demo-box{
        visibility: hidden;
        display: none;
    }

}
